@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


body {
	
}

main {
	font-family: Poppins, sans-serif;
}

p {
	font-size: 15px;
	font-weight: 200;
}

h3 {
	font-weight: 600;
}

.thickheading {
	font-weight: 600;
}

.thinheading {
	font-weight: 400;
}